<div class="task-list-container">
  <p-card>
    <p-header>
      <h2>Task List</h2>
    </p-header>
  </p-card>
  <ng-container *ngIf="tasks$ | async as tasks" >
    <p-listbox [options]="tasks"  optionLabel="label">
      <ng-template let-task pTemplate="item">
        <div class="p-clearfix task-item">
          <div class="task-icon-container">
            <i [ngClass]="task.done ? 'pi pi-check' : 'pi pi-times'" [ngStyle]="{ color: task.done ? 'green' : 'red' }" class="task-icon"></i>
          </div>
          <div class="task-name">
            <a [routerLink]="['/detail/'+ task.id]">
              {{ task.label }}
            </a>
          </div>
          <div class="task-actions">
            <button class="p-button p-button-sm p-button-secondary" (click)="deleteTask(task.id)">
              <i class="pi pi-trash"></i> Usuń
            </button>
            <p-button
              [routerLink]="['/detail/' + task.id + '/edit']"
              icon="pi pi-file-edit"
              styleClass="p-button-rounded p-button-text p-button-raised"
              title="Edit"
            ></p-button>
          </div>
        </div>
      </ng-template>
    </p-listbox>
  </ng-container>

</div>
