<div class="task-list-container">
  <p-card>
    <p-header>
      <h2>Task List</h2>
    </p-header>
  </p-card>
  <p-listbox [options]="tasks" optionLabel="name" [(ngModel)]="selectedTask">
    <ng-template let-task pTemplate="item">
      <div class="p-clearfix task-item">
        <div class="task-icon-container">
          <i [ngClass]="task.done ? 'pi pi-check' : 'pi pi-times'" [ngStyle]="{ color: task.done ? 'green' : 'red' }" class="task-icon"></i>
        </div>
        <div class="task-name">
          <a routerLink="/detail/{{task.id}}">
            {{task.name}}
          </a>
        </div>
        <div class="task-actions">
          <button class="p-button p-button-sm p-button-secondary" (click)="deleteTask(task)">
            <i class="pi pi-trash"></i> Usuń
          </button>
          <!-- Dodajemy nowy przycisk, który po kliknięciu oznacza zadanie jako wykonane. -->
          <button class="p-button p-button-sm p-button-success" (click)="markTaskAsDone(task)">
            <i class="pi pi-check"></i> Zakończ
          </button>
        </div>
      </div>
    </ng-template>
  </p-listbox>
</div>
