:host {
  display: flex;

  align-items: center;
  margin-top: 20px;
  height: 100vh; /* Wysokość ekranu */
  flex-direction: column; /* Dzieci będą układane pionowo */
}

.p-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.p-field label {
  min-width: 120px;
  margin-right: 10px;
}

.p-inputtext,
.p-inputtextarea {
  flex: 1;
}

.p-button {
  margin-top: 10px;
}
