/* app.component.css */

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3f51b5;
  color: white;
  padding: 1em 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 1em;
}

nav a.router-link-active {
  border-bottom: 2px solid white;
}


