.task-detail-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* Adjust this as needed */
}

.task-detail-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center; /* Wyśrodkuj tekst */
  padding: 10px;
}

.task-detail-content {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.task-detail-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.task-detail-description {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}


